.App {
	width: 100vw;
	height: 100vh;
	background: #FFFFFF;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(10, 1fr);
}


@media (min-width: 0px) {
	.App {
		display: block;
	}
}

@media (min-width: 768px) {
	.App {
		display: grid;
		overflow: hidden;
	}
}